*{ padding:0px; margin:0px ;box-sizing: border-box;}
#box1>#ParteJogador>div>img,#box1>#PartePc>div>img{
  border: 1px solid;
  width: 200px;
}

section{
    width: 100%;
}

#box1{
    display: flex;
    justify-content:space-evenly;
}

#temporizador{
    display: flex;
    justify-content: center;
    align-items: center;
}

#tempo{
    height: max-content;
    width: max-content;
    border:1px solid;
    padding: 1rem 1.4rem;
}

.pontos{
display: flex;
justify-content: center;
border-radius: 50%;
align-items: center;
}